.font-titulo{
    font-family: 'Pacifico', cursive;
}

.especial-color{
    color: darkred;
}

.image-carousel {
    object-fit: cover;
    object-position: 0 60%;
    height: 70vh;
    min-height: 250px;
    max-height: 400px;
}

.button-especial-color{
    background-color: darkred;
    color: white;
}

.border-especial-color{
    border-color: darkred;
}