.font-titulo{
    font-family: 'Pacifico', cursive;
}

.especial-color{
    color: darkred;
}

.image-carousel {
    object-fit: cover;
    object-position: 0 80%;
    height: 80vh;
    min-height: 250px;
    max-height: 400px;
}

.button-especial-color{
    background-color: darkred;
    color: white;
}

.border-especial-color{
    border-color: darkred;
}

.card-position-image{
    object-fit: cover;
    height: 200px;
}

.card-width{
    max-width: 18rem;
}